*{
    box-sizing: border-box;
}



body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    min-height: 100vh;
    margin: 0;

}

.carousel{
    box-shadow: 2px 2px 5px black;
    overflow: hidden;
    height: 500px;
    width: 500px;
}


.image-container{
    display: flex;
    transition: transform 0.3s linear;
    transform: translateX(0);
}

img{
    object-fit: cover;
    height: 500px;
    width: 500px;
}